.message-container {
  position: fixed;
  top: 10px;

  display: flex;
  justify-content: center;

  width: 100%;
}

.dialog {
  display: flex;
  gap: 1rem;
  width: 300px;

  padding: 0.5rem 1rem;

  border: 1px solid;
  border-radius: 3px;
}

.dialog svg {
  position: relative;
  top: 1px;
}

.success {
  background: rgb(203, 245, 141);
  color: rgb(46, 72, 8);
  border-color: rgb(46, 72, 8);
}

.error {
  background: rgb(255, 180, 180);
  color: #c00;
  border-color: #c00;
}
